@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.drag-area1,
.drag-area2 {
  width: 100%;
  padding: 13px 22px;
  border-radius: 5px;
  border: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 14px;
  color: #536387;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area1.active,
.drag-area2.active {
  border: 2px solid #1a1818;
}
.drag-area1 i,
.drag-area2 i {
  font-size: 25px;
  color: rgba(83, 99, 135, 0.5);
}
.drag-area1 header,
.drag-area2 header {
  font-size: 14px;
  font-weight: 500;
  color: rgba(83, 99, 135, 0.5);
}
.drag-area1 span,
.drag-area2 span {
  font-size: 14px;
  font-weight: 500;
  color: rgba(83, 99, 135, 0.5);
  margin: 10px 0 15px 0;
}

.drag-area1 button,
.drag-area2 button {
  padding: 5px 12px;
  font-size: 12px;
  font-weight: 500;
  border: none;
  outline: none;
  background-color: #6a64f1;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.drag-area1 img,
.drag-area2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
